body {
	padding-top: 50px;
}
.process-cont {
	max-width:80%;
}
.navbar-default {
	background-color: rgba(255,255,255,0.95);
	border: none;
}
.navbar-default .navbar-brand {
	font-family: 'Palanquin', sans-serif;
	font-size: 2em;
	color: #555; /*or rgb(85,85,85)*/
	text-transform: uppercase;
	letter-spacing: 3px;
}
.navbar li a {
	font-size: .9em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.jumbotron {
	background-color: rgb(174, 181, 199);
	background-image: url('../img/bg2.jpg');
	background-size: cover;
	color: #FFF;
}
.jumbotron-main {
	height: 90px;
}
.jumbotron h1 {
	font-family: 'Palanquin', cursive;
	font-size: 48px;
	text-align: center;
}
.process-cont .img-responsive {
	margin: 0 auto;
}
.container-fluid #about {
	padding: 20px;
}
.container-fluid h1, h3 {
	font-family: 'Palanquin', cursive;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1em;
}
.container-fluid a {
	color: rgb(174, 181, 199);
	transition: all 0.3s ease-out;
}
.container-fluid a:hover {
	color: rgba(174, 181, 199, 0.75);
	text-decoration: none;
}
.container-fluid a:active, a:focus, a:visited {
	text-decoration: none;
}
.container-fluid p {
	font-family: 'Palanquin', sans-serif;
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 30px;
}
.img-circle {
	border-radius: 50%;
	max-width: 300px;
	max-height: 300px;
	margin: 0 auto;
}
#about {
	padding-bottom: 50px;
}
#bio {
	padding: 10px;
	vertical-align: center;
}
#portfolio {
	background-color: #FEC9B9;
	padding-bottom: 50px;
}
.thumbnail { 
	position: relative; 
	overflow: hidden; 
	cursor: pointer; 
	background-color: #FEC9B9;
	border: none;
	border-radius: 0px;
}
.thumbnail * {
 	transition: all .25s; 
 }
.thumbnail h4 { 
	font-size: 19px; 
	font-weight: 700; 
}
.thumbnail p { 
	line-height: 24px; 
}
.thumbnail:hover {
	background-color: rgba(0,0,0,0.75);
}
.thumbnail:hover h4, .thumbnail:hover p { 
	color: #FFF;
}
.thumbnail:hover img { 
	opacity: 0.5; 
}
.thumbnail:after { 
	color: #FFF; 
}
.caption {
	font-family: 'Palanquin', sans-serif;
	text-align: center;
}
.caption h4 {
	text-transform: uppercase;
}
.caption p {
	font-style: italic;
}
.projnav-wrap {
	margin-top: 50px;
}
.projnav {
	font-size: 24px;
}
.projnav:hover {
	text-decoration: none;
}
.projnav-right {
	text-align: right;
}
.btn-demo {
	background-color: rgb(174, 181, 199);
	border-radius: 35px;
	color: #FFF !important;
	font-size: 1.8em;
	padding: 5px 20px;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.3s all;
}
.btn-demo:hover {
	background-color: rgba(174, 181, 199, 0.8);
}
#contact{
	max-width: 80%;
	padding-bottom: 100px;
}
.icon_center {
	text-align: center;
	margin: 0 auto;
}
.icon_center i {
	margin: 0 5px;
}
.mid {
	text-align: center;
}
.resume {
	font-size: 1.4em;
}
.footer {
	background-color: #E0DEEB;
	background-image: url('../img/bg2.jpg');
	color: rgba(0,0,0,0.5);
	height: 50px;
	padding: 20px 20px 50px;
	text-align: center;
}