body {
	padding-top: 50px;
}
.navbar-default {
	background-color: rgba(255,255,255,0.95);
	border: none;
}
.navbar-default .navbar-brand {
	font-family: 'Palanquin', cursive;
	font-size: 2em;
	color: #555; /*or rgb(85,85,85)*/
	text-transform: uppercase;
	letter-spacing: 3px;
}
.navbar li a {
	font-size: .9em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.jumbotron {
	background-color: #C28E8E;
	color: #FFF;
}
.jumbotron h1 {
	margin-left: 0.5em;
	font-size: 48px;
}
.container-fluid #about {
	padding: 20px;
}
.container-fluid h1 {
	font-family: 'Palanquin', cursive;
	text-align: center;
	text-transform: uppercase;
}
.container-fluid a {
	color: #C28E8E;
}
.container-fluid p {
	font-size: 1.2em;
}
.img-circle {
	border-radius: 50%;
	max-width: 300px;
	max-height: 300px;
	margin: 0 auto;
}
#about {
	padding-bottom: 50px;
}
#bio {
	padding: 10px;
	vertical-align: center;
}
#portfolio {
	background-color: rgb(167, 120, 120);
	padding-bottom: 50px;
}
.thumbnail { 
	position: relative; 
	overflow: hidden; 
	cursor: pointer; 
}
.thumbnail * {
 	transition: all .25s; 
 }
.thumbnail h4 { 
	font-size: 19px; 
	font-weight: 700; 
}
.thumbnail p { 
	line-height: 24px; 
}
.thumbnail:hover h4, .thumbnail:hover p { 
	color: #AFAFAF; 
}
.thumbnail:hover img { 
	opacity: 0.25; 
}
.thumbnail:after { 
	color: #FFF; 
}
#contact{
	padding-bottom: 100px;
}
.footer {
	background-color: rgb(117, 85, 85);
	color: rgba(255,255,255,0.8);
	height: 50px;
	padding: 20px 20px 50px;
	text-align: center;
}