*{
	box-sizing: border-box;
}
body {
	font-family: Sintony;
	padding:0; /*Keeps nav bar up top without a gap*/
	margin:0; /*Keeps nav bar up top without a gap*/
}
.container {
	background: #000;
	width: 100%; /*100% width of page*/
	display: block; /*Keeps container in the middle of page*/
	margin: 0 auto; /*Keeps container in the middle of page*/
}
/*Navigation Bar (Horizontal, Fixed)*/
#navigation {
	position: fixed;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	display: block;
	background-color: #000;
	font-size: 20px;
	top: 0;
	height: 2em;
	padding: 10px;
}
#navigation ul{
	display: inline;
}
#navigation li{
	display: inline;
	padding: 16px 16px;
	text-transform: uppercase;
	color: white;
}
#navigation a:link {
	color: #AED8B0;
	font-weight: 800;
	text-decoration: none;
}
#navigation a:hover {
	color: #fff;
	text-decoration: underline;
	font-weight: bold;
}
#navigation a:active {
	color:yellow;
}
#navigation a:visited {
	color: #AED8B0;
} /*same as unvisited link color*/
#navigation a:visited:hover {
	color:#fff;
}
/*Main Banner*/
#banner {
	width: 100%;
	height: 100vh; /*full height of browser window*/
	background-image: url("../images/veggie.jpg");
	background-size: cover;
	background-position: 0 50%;
	background-attachment: fixed;
	display: block;
	padding: 100px;
}
#banner h1 {
	font-family: 'IM Fell Great Primer SC';
	color: #FFFCF0;
	font-size: 82px;
	letter-spacing: .06em;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 5px 6px #333333;
	margin-top: 0;
}
#banner p {
	color: #FFFCF0;
	font-weight: 400;
	font-size: 24px;
	text-align: center;
	text-shadow: 1px 2px #333;
}
hr{
	background-image: linear-gradient(to right, rgba(255,255,255,0.75), rgba(0,0,0,0), rgba(255,255,255,255.75));
	border: 0;
	height: 2px;
	width: 25%;
	margin: 2em auto;
}
/*Main Section*/
.img-circle{
	border-radius: 50%;
	display: inline;
}
#main{
	width: 100%;
	display: block;
	color: #fff;
	padding: 30px;
	text-align: center;
	background-color: #000;
}
#main h1 , h2{
	color: #fff;
}
#main p{
	font-size: 20px;
	width: 100%;
	text-align: center;
}
#menu{
	background-image: url("../images/cress.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
}
#menu h1{
	color: #fff;
}
.menucol{
	float: left;
	margin: 0 10px;
	display: block;
}
.menucol ul{
	padding: 0;
	margin: 0;
}
.menucol li{
	list-style: none;
}
#clear{
	clear: both;
}
#locations{
	display: block;
	color: #fff;
	text-align: center;
	background-color: #000;
}
#locations li{
	list-style: none;
}
/*Footer*/
#footer {
	background-color: #000;
	color: #fff;
	padding: 20px;
	margin-top: 0;
	display: block;
}
#footer a:link {
	color: #AED8B0;
	text-decoration: none;
	text-transform: uppercase;
}
#footer a:hover {
	background: #AED8B0;
	color: #fff;
	text-decoration: none;
	font-weight: 800px;
}
#footer a:active {
	color:yellow;
}
#footer a:visited {
	color: #81CDF0;
	text-decoration: none;
}