*{
	box-sizing: border-box;
}
html{
	height: 75%;
}
body {
	height: 100%;
	padding-top: 50px;
}
.container {
	height: 100%;
}
.navbar {
	background-color: #2B231D;
	border: none;
	color: #fff;
}
.navbar-default .navbar-brand {
	color: #fff;
	text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #e1caac;
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}
/*Main Banner*/
#banner {
	height: 100%;
	width: 100%;
	background-image: url("../img/sweets.jpg");
	background-size: cover;
	background-attachment: fixed;
	padding-top: 100px;
	z-index: -3000;
}
#banner h1 {
	font-size: 5em;
	font-family: "Yellowtail";
	color: #FFFCF0;
	letter-spacing: .06em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	text-shadow: 1px 1px #000
}
#banner p {
	color: #FFFCF0;
	font-weight: 400;
	font-size: 2em;
	text-align: center;
	text-shadow: 1px 1px #000
}
/*Main Section*/
.img-circle{
	border-radius: 50%;
	height: 250px;
	width: 250px;
}
.content {
	color: #fff;
	text-align: center;
	background-color: #422D2A;
	padding-bottom: 20px;	
}
.content h1 h2 {
	color: #fff;
	text-align: center;
}
.content p {
	font-size: 1.1em;
	text-align: center;
	max-width: 75%;
	display: inline-block;
	line-height: 1.5em;
}
#menu {
	background-size: cover;
	background-attachment: fixed;
	color: #000;
	text-align: center;
	padding-bottom: 20px;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menuitem {
	padding-bottom: 20px;
}
.thumb {
	padding-bottom: 20px;
}
#loc {
	color: #000;
	text-align: center;
	padding-bottom: 30px;
}
#loc ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#yelpwidget {
	margin: 0 auto;
	text-align: center;
}
.centerBlock {
    display: table;
    margin: 0 auto;
}
/*Footer*/
#footer {
	background-color: #2B231D;
	color: #fff;
	text-align: center;
	padding: 50px 0;
}